<div class="jumbotron m-5">
    <h1 class="display-4">Working With Diversity</h1>
    <br>
    <p class="lead">sample text</p>
    <hr class="my-4">
    <p></p>
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        {{!-- topic buttons --}}
        <div class="col-4 col-lg-1">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample-1" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    ICWA
                </a>
            </p>
        </div>
        <div class="col-4 col-lg-1">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample-2" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    AAPA
                </a>
            </p>
        </div>
        <div class="col-4 col-lg-1">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample-3" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    MMMCHPA
                </a>
            </p>
        </div>
        {{!-- drop down cards --}}
        <div class="collapse" id="collapseExample-1">
            <div class="card card-body">
                Indian Chile Welfare Act
            </div>
        </div>

        <div class="collapse" id="collapseExample-2">
            <div class="card card-body">
                African American Family Preservation Act
            </div>
        </div>


        <div class="collapse" id="collapseExample-3">
            <div class="card card-body">
                Minnesota Minority Child Heritage Protection Act
            </div>
        </div>

    </div>

</div>