<div class="jumbotron m-5">
    <h1 class="display-4">About This Site</h1>
    <br>
    <p class="lead">sample text</p>
    <hr class="my-4">
    <p></p>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="card col-12 col-lg-12" style="">
            <div class="card-body">
                <h5 class="card-title">Topics</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

        <div class="card card-2 col-12 col-lg-12" style="">
            <div class="card-body">
                <h5 class="card-title">Featured Topic</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

        <div class="card card-2 col-12 col-lg-4" style="">
            <div class="card-body">
                <h5 class="card-title">Featured Topic</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

        <div class="card col-12 col-lg-4" style="">
            <div class="card-body">
                <h5 class="card-title">Topics</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

    </div>

</div>