:root{
    --elder: rgb(253, 251, 247);
    --earth: rgb(216, 51, 6);
    --air: rgb(255, 230, 0);
    --water: rgb(13, 12, 12);
    --clay: rgb(230, 81, 1);
    --turquise: rgb(35, 141, 141);
    --sun: rgb(255, 190, 24);
    --sand: rgb(196, 166, 105);
    --verdant: rgb(31, 130, 31);
    --spring: rgb(109, 186, 61);
    --marginMain: 2em;
    --paddingMain: 1em;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--turquise);
    color: var(--water);
}

.navbar {
    background-color: var(--earth);
}

header h1 {
    color: var(--water);
    padding: 1em;
}

.card {
    margin: var(--marginMain);
    padding: var(--paddingMain);
    background-color: var(--sun);
}

.card-2 {
    margin: var(--marginMain);
    padding: var(--paddingMain);
    background-color: var(--spring);
}