:root{
    --elder: rgb(253, 251, 247);
    --earth: rgb(216, 51, 6);
    --air: rgb(247, 224, 21);
    --water: rgb(13, 12, 12);
    --clay: rgb(230, 81, 1);
    --turquise: rgb(35, 141, 141);
    --sun: rgb(255, 190, 24);
    --sand: rgb(230, 196, 128);
    --verdant: rgb(31, 130, 31);
    --spring: rgb(109, 186, 61);
    --marginMain: 2em;
    --paddingMain: 1em;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--clay);
    color: var(--water);
}

.navbar {
    background-color: var(--elder);
}

header h1 {
    color: var(--water);
    padding: 1em;
}

.card {
    margin: var(--marginMain);
    padding: var(--paddingMain);
    background-color: var(--elder);
    /* max-width: 500px; */
}

.card-2 {
    margin: var(--marginMain);
    padding: var(--paddingMain);
    background-color: var(--elder);
}

.jumbotron h1 {
    color: var(--elder);
    font-weight: bold;
}

.btn {
    margin-top: 0px;
    margin: 3px;
}

@media screen and (max-width: 1000px) {
    .navbar-toggler {
        margin: var(--marginMain);
      }
      .nav-link {
        margin-right: 2em;
        text-align: right;
      }
}